In [57]:
import pandas as pd
import matplotlib as plt

In [4]:
df = pd.read_csv('Occupations by Share.csv')

In [5]:
df

,ID Major Occupation Group,Major Occupation Group,ID Minor Occupation Group,Minor Occupation Group,ID Broad Occupation,Broad Occupation,ID Detailed Occupation,Detailed Occupation,ID Year,Year,...,Average Wage,Average Wage Appx MOE,Record Count,Slug Detailed Occupation,PUMS Industry,ID PUMS Industry,Slug PUMS Industry,ID Industry Sector,Industry Sector,Slug Industry Sector
0,110000-290000,"Management, business, science, & arts occupations",110000-130000,"Management, business, & financial occupations",110000,Management occupations,111021,General & operations managers,2019,2019,...,125300.655582,14621.223925,413,general-operations-managers,Information,51,information-51,51,Information,information
1,110000-290000,"Management, business, science, & arts occupations",110000-130000,"Management, business, & financial occupations",110000,Management occupations,1110XX,Chief executives & legislators,2019,2019,...,217475.300750,22016.372859,445,chief-executives-legislators,Information,51,information-51,51,Information,information
2,110000-290000,"Management, business, science, & arts occupations",110000-130000,"Management, business, & financial occupations",110000,Management occupations,112011,Advertising & promotions managers,2019,2019,...,73657.217804,19450.981435,76,advertising-promotions-managers,Information,51,information-51,51,Information,information
3,110000-290000,"Management, business, science, & arts occupations",110000-130000,"Management, business, & financial occupations",110000,Management occupations,112021,Marketing managers,2019,2019,...,130465.070896,15683.870203,349,marketing-managers,Information,51,information-51,51,Information,information
4,110000-290000,"Management, business, science, & arts occupations",110000-130000,"Management, business, & financial occupations",110000,Management occupations,112022,Sales managers,2019,2019,...,126227.865019,13578.775693,358,sales-managers,Information,51,information-51,51,Information,information
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1229,510000-530000,"Production, Transportation, & Material Moving ...",530000,Transportation & Material Moving Occupations,531000-536000,Transportation Occupations,533041,Taxi drivers & chauffeurs,2014,2014,...,49273.941568,19854.496977,11,taxi-drivers-chauffeurs,Information,51,information-51,51,Information,information
1230,510000-530000,"Production, Transportation, & Material Moving ...",530000,Transportation & Material Moving Occupations,537000,Material Moving Occupations,537051,Industrial truck & tractor operators,2014,2014,...,31990.905204,7478.661792,22,industrial-truck-tractor-operators,Information,51,information-51,51,Information,information
1231,510000-530000,"Production, Transportation, & Material Moving ...",530000,Transportation & Material Moving Occupations,537000,Material Moving Occupations,537061,Cleaners of vehicles & equipment,2014,2014,...,7663.671801,3428.237179,6,cleaners-of-vehicles-equipment,Information,51,information-51,51,Information,information
1232,510000-530000,"Production, Transportation, & Material Moving ...",530000,Transportation & Material Moving Occupations,537000,Material Moving Occupations,537062,"Laborers & freight, stock, & material movers, ...",2014,2014,...,36023.528111,5738.542945,173,laborers-freight-stock-material-movers-hand,Information,51,information-51,51,Information,information
1233,510000-530000,"Production, Transportation, & Material Moving ...",530000,Transportation & Material Moving Occupations,537000,Material Moving Occupations,537064,"Packers & packagers, hand",2014,2014,...,14625.587041,3660.836779,56,packers-packagers-hand,Information,51,information-51,51,Information,information

In [6]:
df.columns

Index(['ID Major Occupation Group', 'Major Occupation Group',
       'ID Minor Occupation Group', 'Minor Occupation Group',
       'ID Broad Occupation', 'Broad Occupation', 'ID Detailed Occupation',
       'Detailed Occupation', 'ID Year', 'Year', 'ID Workforce Status',
       'Workforce Status', 'Total Population', 'Total Population MOE Appx',
       'Average Wage', 'Average Wage Appx MOE', 'Record Count',
       'Slug Detailed Occupation', 'PUMS Industry', 'ID PUMS Industry',
       'Slug PUMS Industry', 'ID Industry Sector', 'Industry Sector',
       'Slug Industry Sector'],
      dtype='object')

In [24]:
df = df.drop(['ID Major Occupation Group', 'ID Minor Occupation Group', 'ID Broad Occupation', 'ID Detailed Occupation',
        'ID Year', 'ID Workforce Status',  'Workforce Status',  'Slug Detailed Occupation', 'ID PUMS Industry',
       'Slug PUMS Industry', 'ID Industry Sector', 'Record Count', 'PUMS Industry', 'Industry Sector', 'Slug Industry Sector'], axis=1)

In [25]:
df.Year.value_counts()

2019    217
2018    212
2014    204
2016    203
2017    199
2015    199
Name: Year, dtype: int64

In [78]:
df['Broad Occupation'].value_counts().size

21

In [34]:
df

,Major Occupation Group,Minor Occupation Group,Broad Occupation,Detailed Occupation,Year,Total Population,Total Population MOE Appx,Average Wage,Average Wage Appx MOE
0,"Management, business, science, & arts occupations","Management, business, & financial occupations",Management occupations,General & operations managers,2019,38581,4821.767581,125300.655582,14621.223925
1,"Management, business, science, & arts occupations","Management, business, & financial occupations",Management occupations,Chief executives & legislators,2019,40010,4910.229176,217475.300750,22016.372859
2,"Management, business, science, & arts occupations","Management, business, & financial occupations",Management occupations,Advertising & promotions managers,2019,7167,2078.419474,73657.217804,19450.981435
3,"Management, business, science, & arts occupations","Management, business, & financial occupations",Management occupations,Marketing managers,2019,33415,4487.429730,130465.070896,15683.870203
4,"Management, business, science, & arts occupations","Management, business, & financial occupations",Management occupations,Sales managers,2019,37472,4751.979483,126227.865019,13578.775693
...,...,...,...,...,...,...,...,...,...
1229,"Production, Transportation, & Material Moving ...",Transportation & Material Moving Occupations,Transportation Occupations,Taxi drivers & chauffeurs,2014,1352,902.736536,49273.941568,19854.496977
1230,"Production, Transportation, & Material Moving ...",Transportation & Material Moving Occupations,Material Moving Occupations,Industrial truck & tractor operators,2014,3017,1348.521148,31990.905204,7478.661792
1231,"Production, Transportation, & Material Moving ...",Transportation & Material Moving Occupations,Material Moving Occupations,Cleaners of vehicles & equipment,2014,844,713.254763,7663.671801,3428.237179
1232,"Production, Transportation, & Material Moving ...",Transportation & Material Moving Occupations,Material Moving Occupations,"Laborers & freight, stock, & material movers, ...",2014,17769,3272.493949,36023.528111,5738.542945
1233,"Production, Transportation, & Material Moving ...",Transportation & Material Moving Occupations,Material Moving Occupations,"Packers & packagers, hand",2014,6451,1971.870239,14625.587041,3660.836779

In [97]:
BO = df.drop(['Major Occupation Group', 'Minor Occupation Group', 'Detailed Occupation'], axis=1)
BO = BO.groupby(['Broad Occupation', 'Year']).agg({'Total Population': ['mean', 'sum']}).reset_index()
BO

                           Broad Occupation  Year Total Population
                                                              mean     sum
0    Architecture & engineering occupations  2014     10076.454545  110841
1    Architecture & engineering occupations  2015      9095.636364  100052
2    Architecture & engineering occupations  2016     10253.100000  102531
3    Architecture & engineering occupations  2017      9252.545455  101778
4    Architecture & engineering occupations  2018      8773.583333  105283
..                                      ...   ...              ...     ...
121              Transportation Occupations  2015      4846.333333   14539
122              Transportation Occupations  2016      5711.666667   17135
123              Transportation Occupations  2017      4527.333333   13582
124              Transportation Occupations  2018      4555.666667   13667
125              Transportation Occupations  2019      2343.600000   11718

[126 rows x 4 columns]

In [104]:
fig, axes = plt.subplots(figsize=(126,4))
BO.groupby(['Year', 'Broad Occupation']).count()['Total Population'].unstack().plot

AttributeError: module 'matplotlib' has no attribute 'show'

In [29]:
df

,Major Occupation Group,Minor Occupation Group,Broad Occupation,Detailed Occupation,Year,Total Population,Total Population MOE Appx,Average Wage,Average Wage Appx MOE
0,"Management, business, science, & arts occupations","Management, business, & financial occupations",Management occupations,General & operations managers,2019,38581,4821.767581,125300.655582,14621.223925
1,"Management, business, science, & arts occupations","Management, business, & financial occupations",Management occupations,Chief executives & legislators,2019,40010,4910.229176,217475.300750,22016.372859
2,"Management, business, science, & arts occupations","Management, business, & financial occupations",Management occupations,Advertising & promotions managers,2019,7167,2078.419474,73657.217804,19450.981435
3,"Management, business, science, & arts occupations","Management, business, & financial occupations",Management occupations,Marketing managers,2019,33415,4487.429730,130465.070896,15683.870203
4,"Management, business, science, & arts occupations","Management, business, & financial occupations",Management occupations,Sales managers,2019,37472,4751.979483,126227.865019,13578.775693
...,...,...,...,...,...,...,...,...,...
1229,"Production, Transportation, & Material Moving ...",Transportation & Material Moving Occupations,Transportation Occupations,Taxi drivers & chauffeurs,2014,1352,902.736536,49273.941568,19854.496977
1230,"Production, Transportation, & Material Moving ...",Transportation & Material Moving Occupations,Material Moving Occupations,Industrial truck & tractor operators,2014,3017,1348.521148,31990.905204,7478.661792
1231,"Production, Transportation, & Material Moving ...",Transportation & Material Moving Occupations,Material Moving Occupations,Cleaners of vehicles & equipment,2014,844,713.254763,7663.671801,3428.237179
1232,"Production, Transportation, & Material Moving ...",Transportation & Material Moving Occupations,Material Moving Occupations,"Laborers & freight, stock, & material movers, ...",2014,17769,3272.493949,36023.528111,5738.542945
1233,"Production, Transportation, & Material Moving ...",Transportation & Material Moving Occupations,Material Moving Occupations,"Packers & packagers, hand",2014,6451,1971.870239,14625.587041,3660.836779

In [73]:
df_BO = df.groupby('Year').mean()

In [75]:
df_BO.plot(x= 'Broad Occupation', y= 'Total Population', kind= 'bar')

KeyError: 'Broad Occupation'